<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.ssm.mapper.MemberMapper">
    <!--根据订单Id查询导游信息-->
    <select id="getOrdersMember" resultType="member" parameterType="int">
        <![CDATA[
        select
           id,
	       hyname,
	       nickname,
	       phoneNum,
	       email
        from
	       member
        where
	       id in  (
		        select
			        memberId
		        from
			        orders
		       where
			       id =#{id}
	               );
        ]]>
    </select>

</mapper>