<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.ssm.mapper.TravellerMapper">
    <select id="getOrdersTraveller" resultType="com.qst.ssm.entity.Traveller" parameterType="int">
        <![CDATA[
        select
            t.id,
	        lkname,
	        sex,
	        phoneNum,
	        credentialsType,
	        credentialsNum,
	        travellerType
        from
	        traveller as t
	    inner join orders as o on t.id=o.travellerId
	    where o.id=#{id}

        ]]>
    </select>
    <!--修改旅客信息-->
    <update id="updateTraveller"  parameterType="com.qst.ssm.entity.Traveller">
    update traveller set phoneNum=#{phoneNum}, credentialsNum=#{credentialsNum} where id=#{id}

</update>
</mapper>